mixin fifth-block
  section.fifth-block
    h2.fifth-block__title Поможем открыться в любом городе
    .fifth-block__gallery
      img(src=require('../blocks/fifth-block/images/firstpicture.png')).fifth-block__picture
      img(src=require('../blocks/fifth-block/images/secondpicture.png')).fifth-block__picture
      img(src=require('../blocks/fifth-block/images/thirdpicture.png')).fifth-block__picture
      img(src=require('../blocks/fifth-block/images/fourthpicture.png')).fifth-block__picture
      img(src=require('../blocks/fifth-block/images/fifthpicture.png')).fifth-block__picture