mixin calculator(rangeId, inputId, average, income, title)
  .calculator
    .calculator__main(id="fd")
      h3.calculator__title=title
      p.calculator__text услуги за одно кресло
      .calculator__form
        input(type="range" max="15" min="5" step="0" id=rangeId).calculator__range
        ul.calculator__scale
          each value in [5, 6 , 7 ,8 , 9]
            li.calculator__item= value
          each value in [10, 11, 12, 13, 14, 15]
            li.calculator__item.calculator__item--right= value
    .calculator__numbers
      label.calculator__average Средний чек:
        input(type="text" value=`${average} ₽` readonly).calculator__input
      label.calculator__average Выручка за месяц:
        input(type="text" value=`${income} ₽` readonly id=inputId).calculator__input.calculator__input--big