mixin sixth-block
  section.sixth-block
    h2.sixth-block__title Станьте владельцем клиники,<br> <span class="green">в которую пациенты рады вернуться</span>
    .sixth-block__stories
      img(src=require('../blocks/sixth-block/images/firststory.png')).sixth-block__picture
      img(src=require('../blocks/sixth-block/images/fifthstory.png')).sixth-block__picture
      img(src=require('../blocks/sixth-block/images/fourthstory.png')).sixth-block__picture
      img(src=require('../blocks/sixth-block/images/thirdstory.png')).sixth-block__picture
      img(src=require('../blocks/sixth-block/images/secondstory.png')).sixth-block__picture
    .sixth-block__circles
      .sixth-block__circle
      .sixth-block__main-circle
        .sixth-block__minor-circle
      .sixth-block__circle
    button.sixth-block__button Получить план открытия